<!-- <footer style="position: fixed; bottom: 0; left: 0; right: 0;"> -->
<footer>
    <mat-toolbar color="primary" class="navbar mat-elevation-z6">

        <div class="footer-text">
            smartData Enterprises(I)
        </div>


        <div class="footer-text">
            <img src="https://material.angular.io/assets/img/angular-material-logo.svg" alt="" width="30px">
            Current Version: 1.0.0+aes-xae2830
        </div>


        <div class=" footer-text">
            &copy; 2023
        </div>
    </mat-toolbar>
</footer>