<div class="wrapper">

    <div class="content">

        <div class="heading">
            <h1>{{title}}</h1>
            <h2>Efficiently Manage Your Employees with Our Elegant System</h2>
            <button mat-raised-button (click)="startButton()">Get Started</button>
            <!-- <div class="background-main"></div> -->
        </div>

        <div class=" main-container">

            <div class="about">

                <div class="about1">
                    <h2>Your Database</h2>
                    <p>Our system allows you to easily store and manage all of your employee data in one place. You can add new employees, update existing information, and search for employees based on a variety of criteria.</p><p> This makes it easy to keep track of important information such as contact details, job titles, and salary information.</p>
                    
                </div>

                <div class="about1">
                    <h2>High Performance</h2>
                    <p>Keeping track of employee hours and attendance can be a hassle. With our system, you can easily track employee time and attendance, including clocking in and out, taking breaks, and requesting time off.</p><p>You can also generate reports to see which employees are putting in the most hours, and which may be falling behind.</p>
                </div>

                <div class="about1">
                    <h2>Payroll Managment</h2>
                    <p>Our system allows you to generate pay slips for your employees with all the necessary details, including gross salary, taxes, deductions, and net salary. This can help you ensure that your employees are getting paid accurately and on time, and make it easy to keep track of payroll records.</p>
                </div>
            </div>

            <hr>




        </div>
    </div>
    <app-footer class="footer"></app-footer>

</div>